.home__bg {
    background: url('./Home.jpg');
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 15px;
    display: inline-block;
    /* align-self: auto; */
}